html {
  background: linear-gradient(#12223c, #070d1b) no-repeat center center fixed;
}

body {
  margin: 0;
}

.ocean {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}